<!doctype html>
<html ng-app="aws">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/aws-workshop.css">
    
    <script src="/webjars/jquery/2.1.3/jquery.min.js"></script>
    <script src="/webjars/lodash/3.6.0/lodash.min.js"></script>
    <script src="/webjars/angularjs/1.3.15/angular.min.js"></script>
    <script src="/webjars/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="/webjars/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="/webjars/angularjs/1.3.15/angular-messages.min.js"></script>
    <script src="/webjars/ngInfiniteScroll/1.1.2/ng-infinite-scroll.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap.min.js"></script>
    <script src="/assets/js/aws-workshop.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div ng-controller="QueryCtrl" ng-messages="status" class="panel panel-default">
                <div class="panel-heading"><h2>Query</h2></div>
                <div class="panel-body">
                    <div class="input-group">
                        <input ng-model="query" ng-keypress="($event.which === 13)?submit():0" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button ng-click="submit()" class="btn btn-info" type="button">Submit</button>
                        </span>
                    </div>
                </div>
                <div ng-message="success" class="panel-footer bg-success">Successfully sent query with message id {{ status.id }}</div>
                <div ng-message="error" class="panel-footer bg-warning">Failed to sent query</div>
            </div>
            <div sqs="QueueQueriesUrl"></div>
            <div sqs="QueueUrlsUrl"></div>
        </div>
        <div class="col-md-8">
            <div ng-controller="LogsCtrl" class="panel panel-default">
                <div class="panel-heading"><h2>Application logs</h2></div>
                <div class="panel-body panel-logs">
                    <div ng-repeat="entry in logs" class="row">
                        <div class="col-md-2">{{entry.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                        <div class="col-md-1">{{entry.level}}</div>
                        <div class="col-md-2">{{entry.logger}}</div>
                        <div class="col-md-7">{{entry.message}}</div>
                    </div>
                </div>
            </div>
            <div ng-controller="SearchCtrl" class="panel panel-default">
                <div class="panel-heading"><h2>Search<img class="pull-right" ng-show="loading" src="/assets/img/ajax-loader.gif"></h2></div>
                <div class="panel-body">
                    <div class="input-group">
                        <input ng-model="query" ng-keypress="($event.which === 13)?search(query, 20):0" type="text" class="form-control">
                        <div class="input-group-btn" dropdown>
                            <button type="button" class="btn btn-info" ng-click="search(query, 20)">Go!</button>
                            <button type="button" class="btn btn-info dropdown-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="search(query, 10)">10 results</a></li>
                                <li><a href="#" ng-click="search(query, 20)">20 results</a></li>
                                <li><a href="#" ng-click="search(query, 30)">30 results</a></li>
                            </ul>
                        </div>
                    </div>
                    <div infinite-scroll="search(query, limit, next)"
                         infinite-scroll-disabled="loading || !next"
                         infinite-scroll-distance="0">
                        <div class="col-md-3 result" ng-repeat="item in items">
                            <a href="{{item.attributes.imageUrl}}">
                                <img ng-src="{{item.attributes.thumbnailUrl}}">
                                <p>{{item.attributes.description}}</p>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
