@import url(http://fonts.googleapis.com/css?family=Roboto:700);

.reveal section img {
  border: 2px solid #222;
  background: rgba(255, 255, 255, 0.02);
}

.reveal ul ul {
  width: 100%;
}

.reveal ul ul li {
  margin-right: 40px;
}